=render 'layouts/pheader'
.ui.container
  %i.large.home.icon
  =link_to "Home", root_path, class: 'item'

:css
  .top{
    margin-top: 2%;
  }
.top
  .ui.container
    #image{align: "center"}
      =image_tag('logo.png')

    .ui.grid.centered
      .five.wide.column

        .ui.segment
          .ui.form
            .ui.container
              / %h2 Sign up
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                = devise_error_messages!

                %hr

                .field#tag
                  = f.label :names
                  %br/
                  = f.text_field :names, autofocus: true
                .field#tag
                  = f.label :email
                  %br/
                  = f.email_field :email

                .field#tag
                  = f.label :username
                  %br/
                  = f.text_field :username

                .field#tag
                  = f.label 'Account Type'
                  %br/
                  = collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true})

                .field#tag
                  = f.label :password
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                  %br/
                  = f.password_field :password, autocomplete: "off"
                .field#tag
                  = f.label :password_confirmation
                  %br/
                  = f.password_field :password_confirmation, autocomplete: "off"
                .actions
                  = f.submit "Sign up", class: 'ui button'

<<<<<<< HEAD

              .ui.bottom.attached.warning.message
                %i.icon.help
                Already signed in?
                = link_to 'Login here', new_user_session_path 
                instead.

=======

              .ui.bottom.attached.warning.message
                %i.icon.help
                Already signed in?
                = link_to 'Login here', new_user_session_path 
                instead. 
      .five.wide.column#change
        .ui.segment
          .ui.form
          %hr/
          
          -#= render "devise/shared/links"

>>>>>>> Roles
:javascript
  $(function(){
    $('#change').hide();
    $('#user_role_id').change(function(){
      alert('new value');
      $('#change').show();
    });
  });
