<div class="ui fixed white menu" style="margin-bottom: 450px;">
    <div class="ui container">
   <!-- 
      <a href="#" class="header item">
      </a> -->
       <%=link_to "Home" , root_path , :class =>"item" %>
      <!-- <div class="ui simple dropdown item">
     <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div> -->
       <%=link_to "Images" , images_index_path , :class =>"item" %>
      <%=link_to "Photographers" , photographers_index_path , :class =>"item" %>
      <%=link_to "MUA" , mua_index_path , :class =>"item" %>
      <%=link_to "Models" , models_index_path , :class =>"item" %>
    </div>
  </div>
  <br>
  <br>
  
     <%=image_tag("logo.png")%>
       <center><div class="ui icon input">

  <input placeholder="Search..." type="text">
  <i class="inverted circular search link icon"></i>
</div></center>
   
