= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg



  .field
    = f.label :title
    %br/
    = f.text_field :title, autofocus: true, placeholder: 'Image Title'
  .field
    = f.label :price
    %br/
    =f.text_field :price, placeholder: 'Image Price'
  -if current_user.role.name == "contributor"
    .field
      =f.label :release_form
      = f.file_field :release_form

  .field
    =f.label :image
    = f.file_field :image
    
  .field
    = f.label :keywords
    %br/
    = f.text_field :keywords, placeholder: 'Keywords'

  .field
    = f.hidden_field :user_id, :value => current_user.id

  .actions
    = f.submit 'Upload', class: 'ui green button', style: 'float: right;'