= render 'home/menu'
=current_user.role.name
- if @posts.present?
  = render @posts
- else
  %p
    There are no posts containing the term(s) #{params[:search]}

= form_tag(photos_path, :method => "get", id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Search Photos"
  = submit_tag "Search"

#masonry-grid{style: 'margin-left: 8%;'}
  %center
    -@pic.each do |p|
      #picha
        .ui.card
          .image
            = image_tag p.image(:medium)

:javascript
  $(document).ready(function(){
    var $container = jQuery('#masonry-grid');
    // initialize
    $container.masonry({
      columnWidth: 50,
      itemSelector: '#picha'
    });
  });
    