!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ivertise
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %script{:src => "https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"}
    
    :css
      body{
      	height: 0px;
      }
      .error{
        margin-top: 5%;
      }
  %body
    .error
      -if notice
        %p.notice= notice
      -if alert
        %p.alert= alert
    = yield
