!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ivertise
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = stylesheet_link_tag 'elastic_grid.min', media: 'all', "http-equiv" => "Content-Type"
    = javascript_include_tag 'modernizr.custom', 'data-turbolinks-track' => true
    = javascript_include_tag 'classie', 'data-turbolinks-track' => true
    = javascript_include_tag 'elastic_grid.encode', 'data-turbolinks-track' => true

    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %script{:src => "https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"}
    = favicon_link_tag "favicon.ico"
    
    :css
      body{
      	height: 0px;
      }
      .error{
        margin-top: 5%;
      }
    :javascript
      $(document).ready(function(){
        var $container = jQuery('#masonry-grid');
        // initialize
        $container.masonry({
          columnWidth: 50,
          itemSelector: '#picha'
        });
      });
        
  %body
    - flash.each do |key, value|
      %div{:class => "text-center #{flash_class(key)}"}
        = value
    #container
    %br
    %br
    %br

      = yield
